body{
  margin: 0;
}

.navbar, .navbar-index{
    background-color: #5e6da2;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    font-size: 25px;
}

.navbar a {
  margin-right: 10px; /* adds space to the right of each link */
  margin-left: 10px; /* adds space to the right of each link */
  
    color: #d6dbeb;
}

.article-name-header{
  color: #d6dbeb;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.article-quote{
  color: #d6dbeb;
  font-size: 15px;
  margin: 20px 0px 20px 0px;
  font-style: italic;
}

.article-quote-name{
  color: #d6dbeb;
  font-size: 15px;
  margin: 0px 0px 20px 0px;
}

.article-info-container {
  background-color: #abb8e7;
  width: 450px;
  float: right;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 25px;
}

.article-info-box{
  border: 1px solid #5e6da2;
}

.article-portrait-name{
  background-color: #5e6da2;
  margin: 0;
  color: #d6dbeb;
  padding: 10px 0px 10px 0px;
}

.article-portrait-description{
  background-color: #5e6da2;
  margin: 0;
  margin-top: -4px;
  color: #d6dbeb;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}

.article-portrait-image {
  max-width: 90%;
  height: auto;
  display: inline-block; /* optional but helps remove inline spacing */

}

.article-info{
  padding: 5% 2.5% 5% 2.5%;
}

.article-info p{
  margin: 0;
  color: #282c3b;
  padding-bottom: 5px;
}

.article-content-container{
  color: #edd7e5
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001f3f;
  background-image: url('../media/images/textures/background_overlay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}


/* Centered content container */
.page-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Optional depth */
  background-color: rgba(98, 97, 114, 0.95);
}

.index-page{
    margin: 20px auto; /* center container horizontally on the page */
    display: flex;
    flex-direction: column; /* stack items vertically */
}

.index-page-item{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* THIS centers children horizontally */
}

.essence-index-header{
  font-size: 65px;
}

.essence-pic{
  max-width: 30%;
  height: auto;
}

.table-of-contents-container{
  display: inline-block;
}

.table-of-contents-header{
  background-color: #5e6da2;
  margin: 0;
  color: #d6dbeb;
  padding: 10px;
}

.table-of-contents-list{
  background-color: #d6dbeb;
  margin: 0;
  color: #5e6da2;
  padding: 10px;
  border: 1px solid #5e6da2;
}


/* Responsive */
@media only screen and (max-width: 767px) {
  .page-container {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .article-info-container {
      float: none;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .article-name-header {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .essence-pic{
    max-width: 80%;
  }
}